<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
  <td><%= image_tag post.featured_image.variant(resize: "50x50") %></td>
    <td><%= post.title %></td>
    <td><%= post.description %></td>
    <td><%= link_to 'Show', [post.organization, post] %></td>
    <td><%= link_to 'Edit', edit_organization_post_path(post.organization, post) %></td>
    <td><%= link_to 'Destroy', [post.organization, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_organization_post_path(params[:organization_id]) %>
