<p id="notice"><%= notice %></p>
<%= image_tag @post.featured_image.variant(resize: "250x250") %>
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>


<%= link_to 'Edit', edit_organization_post_path(@post.organization, @post) %> |
<%= link_to 'Back', organization_posts_path(@post.organization) %>
